<%= form_for(@surgery) do |f| %>
  <% if @surgery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surgery.errors.count, "error") %> prohibited this surgery from being saved:</h2>

      <ul>
      <% @surgery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :anesthesia_id %><br />
    <%= f.number_field :anesthesia_id %>
  </div>
  <div class="field">
    <%= f.label :case_cart %><br />
    <%= f.text_field :case_cart %>
  </div>
  <div class="field">
    <%= f.label :finished %><br />
    <%= f.check_box :finished %>
  </div>
  <div class="field">
    <%= f.label :finished_at %><br />
    <%= f.datetime_select :finished_at %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :operation_date %><br />
    <%= f.date_select :operation_date %>
  </div>
  <div class="field">
    <%= f.label :or_room %><br />
    <%= f.text_field :or_room %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br />
    <%= f.number_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :started %><br />
    <%= f.check_box :started %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at %>
  </div>
  <div class="field">
    <%= f.label :surgeon_id %><br />
    <%= f.number_field :surgeon_id %>
  </div>
  <div class="field">
    <%= f.label :surgery %><br />
    <%= f.text_field :surgery %>
  </div>
  <div class="field">
    <%= f.label :time_estimate %><br />
    <%= f.number_field :time_estimate %>
  </div>
  <div class="field">
    <%= f.label :triage %><br />
    <%= f.text_field :triage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
