<%= form_for(@surgery) do |f| %>
  <% if @surgery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surgery.errors.count, "error") %> prohibited this surgery from being saved:</h2>

      <ul>
      <% @surgery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">  
    <%= f.number_field :anesthesia_id %>
  </div>
  <div class="field">
    <%= f.text_field :case_cart, placeholder: 'Case cart',class: 'input-block-level' %>
  </div>
  <div class="field">
    <%= f.check_box :finished %>
  </div>
  <div class="field">
    <%= f.text_field :finished_at, id: 'date' %>
  </div>
  <div class="field">  
    <%= f.text_field :surgery, placeholder: 'Surgery', class: 'input-block-level' %>
  </div>
  <div class="field">
    <%= f.text_area :notes, placeholder: 'Notes' %>
  </div>
  <div class="field">
    <%= f.label :operation_date %><br />
    <%= f.date_select :operation_date %>
  </div>
  <div class="field">
    <%= f.text_field :or_room, placeholder: 'OR room' %>
  </div>
  <div class="field">   
    <%= f.select :patient_id, Patient.all.map {|x| [x.name, x.id]} %>
  </div>
 
  
  <div class="field">
    <%= f.text_field :time_estimate, placeholder: 'Time estimate' %>
  </div>
  <div class="field">
    <%= f.select :triage, options_for_select([['A - Emergent (<2h)','A'],
    ['B - Urgent(<8h)','B'],['C - Non-elective <48h)','C']])%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if false %>
 <div class="field">

    <%= f.number_field :position %>
  </div>
  <div class="field">
  
    <%= f.check_box :started %>
  </div>
  <div class="field">
  
    <%= f.datetime_select :started_at %>
  </div>
  <div class="field">
  
    <%= f.number_field :surgeon_id %>
  </div>
<% end %>
