<p id="notice"><%= notice %></p>

<p>
  <b>Mrn:</b>
  <%= @patient.mrn %>
</p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Location:</b>
  <%= @patient.location %>
</p>

<p>
  <b>Dob:</b>
  <%= @patient.dob %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
