<!DOCTYPE html>
<html>
<head>
  <title>TimeToOR</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> 
          <a id="logo" class="brand" href="/">
              <%= image_tag('twilio.png') %> Twilio Hack Night
          </a>

          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
</head>
<body>   
	
<div class="container-responsive">
<%= yield %>
</div>

</body>
</html>
