<!DOCTYPE html>
<html>
<head>
  <title>TimeToOR</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> 
        
              <%= image_tag('logo.png', class: "brand") %>
       

          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li class="<%= 'active' if params[:controller] == 'surgeries' %>"><a href="/">Surgery</a></li>
                <li class="<%= 'active' if params[:controller] == 'users' %>"><a href="/users">Staff</a></li>
                <li class="<%= 'active' if params[:controller] == 'patients' %>"><a href="/patients">Patients</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
</head>
<body>   
	
<div class="container-responsive">
<%= yield %>
</div>

</body>
</html>
